.main-carrousel {
display: flex;
justify-content: space-between;
position: relative;
padding-left: 100px;
padding-right: 100px;
}

.main-carrousel::after {
    content: '';
    position: absolute;
    left: 50px;
    top: 38px;
    display: block;
    height: 5px;
    width: calc(100% - 100px);
    background-color: #3A4042;}

    .main-carrousel::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        left: 0px;
        top: 38.2px;
        display: block;
        border: 2.5px dashed #3A4042;
    }

.main-carrousel .button-arrow {
    position: absolute;
    bottom: 70px;
    transform: translateY(50%);
}

.main-carrousel .button-arrow.-left {
    left: 15px;
}

.main-carrousel .button-arrow.-right {
    right: 15px;
}

.main-carrousel .items {
    width: 100%;
    overflow: hidden;
}

.main-carrousel .elements {
display: flex;
justify-content: space-between;
}