.main-banner {
    box-sizing: border-box;
    background-image: url(../../assets/imagens/fotofundo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid #000;
    padding-top: 40px;
    padding-left: 60px;     
    
    }
.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    }

    .main-banner .box {
        margin-bottom: 30px;
        
    }

    .main-banner .navigation {
        display: flex;
        justify-content: space-around;
       

    }
