.main-section {
    background-color: #FEC5BB;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #000;
       
}
.main-section .main-title {
margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #FDE2E4 ;
}

.main-section.-bdFirst {
    border-color: #000;
}

.main-section.-bdSecond {
    background-color: #ADE8F4;
}

.main-section.-bdBlack {
    border-color: #000;
}