.main-button {
display: inline-block;
background-color: #99C1DE;
box-shadow: 5px 5px 5px white;
padding: 18px 20px;
margin-right: 10px;
transition: transform 100ms linear;
text-decoration: none;
color: #fff;
font-size: 20px;
}

.main-button:hover {
    transform: scale(1.08);
}

.main-button.-full {
    width: 100%;
}